RABBITMQ_USERNAME=fastshipping
RABBITMQ_PASSWORD=fastshipping_dev
INTERNAL_SERVICE_API_KEY=fastshipping_internal_dev

# Required to start ms-notification with --profile notifications.
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
